$tablet: 1200px;
$mobile: 769px;

@font-face {
    font-family: detriot;
    src: url(../font/Broken-Detroit\ -\ PERSONAL\ USE\ ONLY.ttf);
    font-display: swap;
}
@font-face {
    font-family: lexend;
    src: url(../font/Lexend_Giga/static/LexendGiga-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: lexend-semibold;
    src: url(../font/Lexend_Giga/static/LexendGiga-SemiBold.ttf);
    font-display: swap;
}
@font-face {
    font-family: lexend-extrabold;
    src: url(../font/Lexend_Giga/static/LexendGiga-ExtraBold.ttf);
    font-display: swap;
}

:root {
    --bg-clr: #131313;
    --violet: #99449f;
    --purple: #553a57;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-clr);
    color: #fff;
    font-family: lexend-extrabold, sans-serif;
}

h1 {
    font: 160px detriot;
    margin-top: 2rem;
    letter-spacing: 1rem;
}

h2 {
    font: 72px detriot;
    margin-bottom: 3rem;
    text-align: center;
    & > span {
        color: var(--violet);
    }
}

h3 {
    font: 48px lexend-extrabold;
    color: #fff;
    margin-top: 10rem;
    letter-spacing: -6px;
    text-transform: capitalize;
}

h4 {
    font: 40px detriot;
    margin: 0.5rem 0 1rem;
}

p {
    font: 20px lexend;
}

a {
    all: unset;
    font: 24px detriot;
    &:hover {
        color: transparent;
        background-image: linear-gradient(
            to right,
            var(--violet),
            var(--purple)
        );
        background-clip: text;
        cursor: pointer;
    }
}

@media (max-width: $tablet) {
    h1 {
        font-size: 96px;
    }
    h2 {
        font-size: 64px;
    }
    h3 {
        font-size: 40px;
        letter-spacing: -5px;
    }
    a {
        font-size: 20px;
    }
}

@media (max-width: $mobile) {
    h1 {
        font-size: 48px;
        letter-spacing: 0.3rem;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 20px;
        letter-spacing: -3px;
    }
    a {
        font-size: 12px;
    }
    p {
        font-size: 14px;
    }
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@keyframes slideup {
    from {
        transform: translateY(400px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slidedown {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

main {
    overflow-x: hidden;
}

section:not(.hero) {
    padding: 5rem 0;
}

.hero {
    position: relative;
    background-image: url(../imgs/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-bottom: 500px;
    h1,
    h3 {
        animation: slidedown 1.5s ease-in-out;
    }
    nav {
        margin-top: 0.5rem;
        color: #fff;
        display: flex;
        gap: 2rem;
    }
    .bg-char {
        position: absolute;
        bottom: 0;
        animation: slideup 1.5s ease-in-out;
    }
}

@media (max-width: $tablet) {
    .hero {
        padding-bottom: 0;
        nav {
            width: 100%;
            justify-content: center;
            background-color: var(--bg-clr);
            margin-top: 0;
            gap: 1rem;
        }
        .bg-char {
            position: static;
            width: 100%;
        }
    }
}

.after-hero {
    position: relative;
    p {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        padding: 8rem 0;
    }
    img {
        position: absolute;
    }
    img:nth-child(1) {
        width: 100px;
        top: 50px;
        right: 150px;
    }

    img:nth-child(2) {
        width: 200px;
        bottom: 0;
        left: 0;
    }
}

@media (max-width: $tablet) {
    .after-hero {
        img:nth-child(1) {
            width: 70px;
            top: 20px;
            right: 0;
        }
        img:nth-child(2) {
            display: none;
        }
        img:nth-child(3) {
            bottom: 50px;
            left: 0;
        }
    }
}

.characters {
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        column-gap: 2rem;
        row-gap: 4rem;
        > div {
            text-align: center;
        }
    }
    .char img {
        margin-bottom: 1rem;
        filter: brightness(70%);
        transform: translateY(10px);
        transform-origin: bottom;
        &:hover {
            filter: brightness(100%);
            transform: translateY(-10px);
        }
    }
    img {
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: $tablet) {
    .characters {
        .content {
            grid-template-columns: 1fr;
        }
        p {
            max-width: 300px;
            margin: 0 auto;
        }
        .char:nth-child(even) h4 {
            color: var(--purple);
        }
        .char:nth-child(odd) h4 {
            color: var(--violet);
        }
    }
}

.history {
    .row {
        display: flex;
        justify-content: space-between;
        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
        > * {
            width: 49.5%;
        }
    }

    @for $i from 1 through 4 {
        .content#{$i} {
            background-image: url("../imgs/par-#{$i}.jpg");
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }
    }

    .trans {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        backdrop-filter: saturate(30%) brightness(30%);
        padding: 4rem 2rem;
    }
}

@media (max-width: $tablet) {
    .history {
        .container {
            width: 100% !important;
            padding: 0;
            margin: 0;
            max-width: max-content;
        }
        .row {
            flex-wrap: wrap-reverse;
            > * {
                width: 100%;
            }
        }
        .row > div {
            padding: 1rem 3rem;
            background-image: none !important;
            background-color: transparent !important;
        }
        .trans {
            background-color: #131313;
        }
    }
}

@media (max-width: $mobile) {
    .history {
        .row > div {
            padding: 0.5rem;
        }
        .trans {
            padding: 1rem 0.5rem;
        }
    }
}

.cards {
    .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
    img {
        width: 100%;
        filter: brightness(70%);
        transform: translateY(20px);
        transform-origin: bottom;
        &:hover {
            filter: brightness(100%);
            transform: translateY(-20px);
        }
    }
}

@media (max-width: $tablet) {
    .cards {
        .content {
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-content: center;
        }
    }
}

.download {
    position: relative;
    margin-top: 800px;
    h2 {
        font-family: detriot;
        letter-spacing: 0;
        max-width: 625px;
        text-align: center;
        margin: 0 auto 2rem;
        transform: translateY(-700px);
    }
    img:not(.button) {
        width: 100%;
        object-fit: contain;
        position: absolute;
        bottom: 0;
    }
    img:nth-child(1) {
        left: -50%;
    }
    img:nth-child(2) {
        right: -50%;
    }
    img.button {
        width: 545px;
        height: 145px;
        margin: 0 auto;
        display: block;
    }
}

@media (max-width: $tablet) {
    .download {
        margin-top: 300px;
        h2 {
            transform: translateY(-300px);
        }
    }
}

footer {
    padding: 1rem 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .rights {
        text-align: center;
    }
    span {
        color: var(--purple);
    }
    p {
        font: 16px lexend-semibold;
        margin-bottom: 1rem;
    }
    h6 {
        font: 16px detriot;
        margin-bottom: 0.5rem;
    }
    .rights p {
        font: 14px lexend;
        margin-bottom: 0.5rem;
    }
    .up {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: $mobile) {
    footer {
        h6 {
            font-size: 12px;
        }
        p,
        .rights p {
            font-size: 10px;
        }
        .socials img {
            width: 20px;
        }
    }
}
